<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1 class="mt-4">{{blogPost.blogTitle}}</h1>

      <!-- Author -->
      <p class="lead">
        by
        <a href="#">{{blogger.bloggerName}}</a>
      </p>

      <hr>

      <!-- Date/Time -->
      <p>Posted on {{blogPost.blogPublishDate}}</p>

      <hr>

      <hr>

      <!-- Post Content -->
      <span [innerHTML]="blogPost.blogBody"></span>

      <hr>

      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <div>
            <div class="form-group">
              <label for="commenterName" class="control-label">Your Name</label>
              <input type="text" class="form-control" id="commenterName" placeholder="Name" [(ngModel)]="newComment.commenterName">
            </div>
            <div class="form-group">
              <label for="commentBody" class="control-label">Your Comment</label>
              <textarea type="text" rows="4" class="form-control" id="commentBody" placeholder="Comment" [(ngModel)]="newComment.commentBody"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" (click)="createComment()">Submit</button>
          </div>
        </div>
      </div>
      <br>
      <br>

      <!--start card-->
      <div *ngFor="let blogComment of comments">

        <div class="row grid">
          <div class="col-xs-12 card grid-item">
            <div class="thumbnail">
              <div class="caption">
                <h3>{{blogComment.commenterName}}</h3>
                <br>
                <p id="thumbnail-label">By &emsp; {{blogComment.commenterName}}</p>
              </div>
              <div class="caption card-footer">
                <ul class="list-inline">
                  <li>{{blogComment.commentDate}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--end card-->

    </div>

  <!-- /.row -->
    <br>
    <hr>

</div>
<!-- /.container -->
