<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="home" class="navbar-brand">The Blog</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="authService.isBloggerLoggedIn()"><a routerLink="/dashboard">Dashboard</a></li>
      <li *ngIf="authService.isBloggerLoggedIn()"><a routerLink="/logout">Logout</a></li>
      <li *ngIf="!authService.isBloggerLoggedIn()"><a routerLink="/register">Register</a></li>
      <li *ngIf="!authService.isBloggerLoggedIn()"><a routerLink="/login">Login</a></li>
    </ul>
  </div>
</nav>
