<div class="container pagecontainer">
  <!--start blogger registration form-->
  <form [formGroup]="bloggerRegistrationForm" (ngSubmit)="registerBlogger(bloggerRegistrationForm.value)" class="form-horizontal form-signin" novalidate autocomplete="off">

    <!--start blogger name input group-->
    <div class="form-group" [ngClass]="{'has-error': bloggerRegistrationForm.get('bloggerName').invalid && bloggerRegistrationForm.get('bloggerName').dirty}">
      <div class="input-group col-sm-10">
        <div class="input-group-addon">A</div>
        <input type="text" id="bloggerName" class="form-control" [formControl]="bloggerName" placeholder="Name">
      </div>
      <div class="text-danger" *ngIf="bloggerRegistrationForm.get('bloggerName').dirty && bloggerRegistrationForm.get('bloggerName').errors">
        <span class="col-sm-2"></span>
        <span class="col-sm-10" *ngIf="bloggerRegistrationForm.get('bloggerName').invalid">
          Enter a valid name
        </span>
      </div>
    </div>
    <!--end blogger name input group-->

    <!--start email input group-->
    <div class="form-group" [ngClass]="{'has-error': bloggerRegistrationForm.get('bloggerEmail').invalid && bloggerRegistrationForm.get('bloggerEmail').dirty}">
      <div class="input-group col-sm-10">
        <div class="input-group-addon">@</div>
        <input type="text" id="bloggerEmail" class="form-control" [formControl]="bloggerEmail" placeholder="Email">
      </div>
      <div class="text-danger" *ngIf="bloggerRegistrationForm.get('bloggerEmail').dirty && bloggerRegistrationForm.get('bloggerEmail').errors">
        <span class="col-sm-2"></span>
        <span class="col-sm-10" *ngIf="bloggerRegistrationForm.get('bloggerEmail').invalid">
          Enter a valid email
        </span>
      </div>
    </div>
    <!--end email input group-->

    <!--start passworxd input group-->
    <div class="form-group" [ngClass]="{'has-error': bloggerRegistrationForm.get('bloggerPassword').invalid && bloggerRegistrationForm.get('bloggerPassword').dirty}">
      <div class="input-group col-sm-10">
        <div class="input-group-addon"><i class="glyphicon glyphicon glyphicon-asterisk"></i></div>
        <input type="password" id="bloggerPassword" class="form-control" [formControl]="bloggerPassword" placeholder="Password">
      </div>
      <div class="text-danger" *ngIf="bloggerRegistrationForm.get('bloggerPassword').dirty && bloggerRegistrationForm.get('bloggerPassword').errors">
        <span class="col-sm-2"></span>
        <span class="col-sm-10" *ngIf="bloggerRegistrationForm.get('bloggerPassword').invalid">
          Enter a valid password
        </span>
      </div>
    </div>
    <!--end password input group-->
    <br>
    <button class="btn btn-primary text-center" id="submit" [disabled]="bloggerRegistrationForm.invalid">Register</button>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6"></div>
      <div class="col-md-6 col-sm-6 col-xs-6" style="text-align: right"><a [routerLink]="['/login']">Login</a></div>
    </div>
  </form>
  <!--end blogger registration form-->
</div>
