<div class="container container-fluid pagecontainer">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Blog List</h2>
      <button class="btn btn-success btn-block" data-toggle="modal" data-target="#createBlogPostModal">Create Blog</button>
      <div>
        <div class="table table-striped table-hover" >
          <thead>
          <tr>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Approval Status</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let blog of blogPosts">
            <tr (click)="onClickTableBlog(blog)" data-toggle="modal" data-target="#selectBlogPostModal">
              <td>{{blog.blogTitle}}</td>
              <td>{{blog.blogSubtitle}}</td>
              <td *ngIf="blog.isPublished"><span class="label label-primary">Published</span></td>
              <td *ngIf="!blog.isPublished"><span class="label label-danger">Draft</span></td>
            </tr>
          </ng-container>
          </tbody>
        </div>
      </div>
    </div>
  </div>

  <!--start of select blog modal-->
  <div id="selectBlogPostModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="selectBlogModalLabel">Blog Post</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="selectBlogPostTitle" class="control-label">Blog Title</label>
            <input type="text" class="form-control" id="selectBlogPostTitle" placeholder="Blog Post Title" [(ngModel)]="currentBlog.blogTitle">
          </div>
          <div class="form-group">
            <label for="selectBlogPostSubtitle" class="control-label">Blog SubTitle</label>
            <input type="text" class="form-control" id="selectBlogPostSubtitle" placeholder="Blog Post Subtitle" [(ngModel)]="currentBlog.blogSubtitle">
          </div>
          <div class="form-group">
            <label for="selectBlogBody" class="control-label">Blog Body</label>
            <input type="text" class="form-control" id="selectBlogBody" placeholder="Blog Body" [(ngModel)]="currentBlog.blogBody">
          </div>
          <div class="form-group">
            <label for="selectBlogBody" class="control-label">Blog Body</label>
            <ckeditor
              [(ngModel)]="currentBlog.blogBody"
              [config]="{uiColor: 'black'}"
              [readonly]="false"
              debounce="500">
            </ckeditor>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="onClickUpdateBlog()">Update</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onClickDeleteBlog()">Delete</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClickDraftBlog()">Draft</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="onClickPublishBlog()">Publish</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#commentsModal" (click)="onClickComments()">Comments</button>
        </div>
      </div>
    </div>
  </div>
  <!--end of blog select modal-->

  <!--start of create blog modal-->
  <div id="createBlogPostModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="cteateBlogModalLabel">Blog Post</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="cteateBlogPostTitle" class="control-label">Blog Title</label>
            <input type="text" class="form-control" id="cteateBlogPostTitle" placeholder="Blog Post Title" [(ngModel)]="newBlog.blogTitle">
          </div>
          <div class="form-group">
            <label for="cteateBlogPostSubtitle" class="control-label">Blog SubTitle</label>
            <input type="text" class="form-control" id="cteateBlogPostSubtitle" placeholder="Blog Post Subtitle" [(ngModel)]="newBlog.blogSubtitle">
          </div>
          <div class="form-group">
            <label for="cteateBlogBody" class="control-label">Blog Body</label>
            <input type="text" class="form-control" id="cteateBlogBody" placeholder="Blog Body" [(ngModel)]="newBlog.blogBody">
          </div>
          <div class="form-group">
            <label for="cteateBlogBody" class="control-label">Blog Body</label>
            <ckeditor
              [(ngModel)]="newBlog.blogBody"
              [config]="{uiColor: 'black'}"
              [readonly]="false"
              debounce="500">
            </ckeditor>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="onClickCreateBlog()">Create</button>
        </div>
      </div>
    </div>
  </div>
  <!--end of blog create modal-->

  <!--start of create blog modal-->
  <div id="commentsModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="commentsModalLabel">Comments</h4>
        </div>
        <div class="modal-body">


          <div class="row">
            <div *ngFor="let blogComment of blogComments" class="card-wrapper">
              <div class="card">
                <h1>{{blogComment.commenterName}}</h1>
                <p class="desc-text text-justify">
                  {{blogComment.commentBody}}
                </p>
                <ul class="controls">
                  <li class="comment">
                    <button class="btn btn-danger btn-block" (click)="onClickDeleteComment(blogComment)">Delete</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--end of blog create modal-->

</div>
