<section class="wrapper">
  <div class="container-fostrap">
    <div class="content">
      <div class="container">
        <div class="row">


          <div *ngFor="let blog of blogs" class="col-xs-12 col-sm-4">
            <div class="card">
              <a class="img-card" href="#">
                <img src="../../assets/images/blog.jpg" />
              </a>
              <div class="card-content">
                <h4 class="card-title">
                  {{blog.blogTitle}}
                </h4>
                <p class="">
                  {{blog.blogSubtitle}}
                </p>
              </div>
              <div class="card-read-more">
                <a routerLink="/post/{{blog._id}}" class="btn btn-link btn-block">
                  Read More
                </a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
