<div class="container pagecontainer">
  <!--start blogger login form-->
  <form [formGroup]="bloggerLoginForm" (ngSubmit)="loginBlogger(bloggerLoginForm.value)" class="form-horizontal form-signin" novalidate autocomplete="off">

    <!--start email input group-->
    <div class="form-group" [ngClass]="{'has-error': bloggerLoginForm.get('bloggerEmail').invalid && bloggerLoginForm.get('bloggerEmail').dirty}">
      <div class="input-group col-sm-10">
        <div class="input-group-addon">@</div>
        <input type="text" id="bloggerEmail" class="form-control" [formControl]="bloggerEmail" placeholder="Email">
      </div>
      <div class="text-danger" *ngIf="bloggerLoginForm.get('bloggerEmail').dirty && bloggerLoginForm.get('bloggerEmail').errors">
        <span class="col-sm-2"></span>
        <span class="col-sm-10" *ngIf="bloggerLoginForm.get('bloggerEmail').invalid">
          Enter a valid email
        </span>
      </div>
    </div>
    <!--end email input group-->

    <!--start passworxd input group-->
    <div class="form-group" [ngClass]="{'has-error': bloggerLoginForm.get('bloggerPassword').invalid && bloggerLoginForm.get('bloggerPassword').dirty}">
      <div class="input-group col-sm-10">
        <div class="input-group-addon"><i class="glyphicon glyphicon glyphicon-asterisk"></i></div>
        <input type="password" id="bloggerPassword" class="form-control" [formControl]="bloggerPassword" placeholder="Password">
      </div>
      <div class="text-danger" *ngIf="bloggerLoginForm.get('bloggerPassword').dirty && bloggerLoginForm.get('bloggerPassword').errors">
        <span class="col-sm-2"></span>
        <span class="col-sm-10" *ngIf="bloggerLoginForm.get('bloggerPassword').invalid">
          Enter a valid password
        </span>
      </div>
    </div>
    <!--end password input group-->
    <br>
    <button class="btn btn-primary text-center" id="submit" [disabled]="bloggerLoginForm.invalid">Sign in</button>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6"></div>
      <div class="col-md-6 col-sm-6 col-xs-6" style="text-align: right"><a [routerLink]="['/register']">Register</a></div>
    </div>
  </form>
  <!--end blogger login form-->
</div>
